* { margin:0; padding:0; box-sizing:border-box; }

body {
  background: url(assets/woodstrip.png) repeat-x, url(assets/background.jpg) no-repeat #525a6a;
  background-size: auto, cover;
  color: #fff;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 18px;
  font-weight: normal;

}
h1 {
  font-size: 40px;
  font-family: Futura, sans-serif;
  font-weight: 100;

}
section {
  text-align: center;
}
hr {
  margin:30px auto 30px auto;
  width: 520px;

}
p { margin: 0 0 15px 0; }
